/* CSS HEX */
--black: #000000ff;
--dark-slate-gray: #2B4544ff;
--persian-green: #05A095ff;
--platinum: #E4E0DBff;
--raisin-black: #211E1Fff;
--battleship-gray: #999796ff;
--dim-gray: #6A6A6Cff;
--tangerine: #F08A04ff;
--fire-brick: #BB1F2Dff;

/* CSS HSL */
--black: hsla(0, 0%, 0%, 1);
--dark-slate-gray: hsla(178, 23%, 22%, 1);
--persian-green: hsla(176, 94%, 32%, 1);
--platinum: hsla(33, 14%, 88%, 1);
--raisin-black: hsla(340, 5%, 12%, 1);
--battleship-gray: hsla(20, 1%, 59%, 1);
--dim-gray: hsla(240, 1%, 42%, 1);
--tangerine: hsla(34, 97%, 48%, 1);
--fire-brick: hsla(355, 72%, 43%, 1);

/* SCSS HEX */
$black: #000000ff;
$dark-slate-gray: #2B4544ff;
$persian-green: #05A095ff;
$platinum: #E4E0DBff;
$raisin-black: #211E1Fff;
$battleship-gray: #999796ff;
$dim-gray: #6A6A6Cff;
$tangerine: #F08A04ff;
$fire-brick: #BB1F2Dff;

/* SCSS HSL */
$black: hsla(0, 0%, 0%, 1);
$dark-slate-gray: hsla(178, 23%, 22%, 1);
$persian-green: hsla(176, 94%, 32%, 1);
$platinum: hsla(33, 14%, 88%, 1);
$raisin-black: hsla(340, 5%, 12%, 1);
$battleship-gray: hsla(20, 1%, 59%, 1);
$dim-gray: hsla(240, 1%, 42%, 1);
$tangerine: hsla(34, 97%, 48%, 1);
$fire-brick: hsla(355, 72%, 43%, 1);

/* SCSS RGB */
$black: rgba(0, 0, 0, 1);
$dark-slate-gray: rgba(43, 69, 68, 1);
$persian-green: rgba(5, 160, 149, 1);
$platinum: rgba(228, 224, 219, 1);
$raisin-black: rgba(33, 30, 31, 1);
$battleship-gray: rgba(153, 151, 150, 1);
$dim-gray: rgba(106, 106, 108, 1);
$tangerine: rgba(240, 138, 4, 1);
$fire-brick: rgba(187, 31, 45, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #000000ff, #2B4544ff, #05A095ff, #E4E0DBff, #211E1Fff, #999796ff, #6A6A6Cff, #F08A04ff, #BB1F2Dff);
$gradient-right: linear-gradient(90deg, #000000ff, #2B4544ff, #05A095ff, #E4E0DBff, #211E1Fff, #999796ff, #6A6A6Cff, #F08A04ff, #BB1F2Dff);
$gradient-bottom: linear-gradient(180deg, #000000ff, #2B4544ff, #05A095ff, #E4E0DBff, #211E1Fff, #999796ff, #6A6A6Cff, #F08A04ff, #BB1F2Dff);
$gradient-left: linear-gradient(270deg, #000000ff, #2B4544ff, #05A095ff, #E4E0DBff, #211E1Fff, #999796ff, #6A6A6Cff, #F08A04ff, #BB1F2Dff);
$gradient-top-right: linear-gradient(45deg, #000000ff, #2B4544ff, #05A095ff, #E4E0DBff, #211E1Fff, #999796ff, #6A6A6Cff, #F08A04ff, #BB1F2Dff);
$gradient-bottom-right: linear-gradient(135deg, #000000ff, #2B4544ff, #05A095ff, #E4E0DBff, #211E1Fff, #999796ff, #6A6A6Cff, #F08A04ff, #BB1F2Dff);
$gradient-top-left: linear-gradient(225deg, #000000ff, #2B4544ff, #05A095ff, #E4E0DBff, #211E1Fff, #999796ff, #6A6A6Cff, #F08A04ff, #BB1F2Dff);
$gradient-bottom-left: linear-gradient(315deg, #000000ff, #2B4544ff, #05A095ff, #E4E0DBff, #211E1Fff, #999796ff, #6A6A6Cff, #F08A04ff, #BB1F2Dff);
$gradient-radial: radial-gradient(#000000ff, #2B4544ff, #05A095ff, #E4E0DBff, #211E1Fff, #999796ff, #6A6A6Cff, #F08A04ff, #BB1F2Dff);